fastapi
uvicorn
pymongo
python-dotenv
stripe>=11.0.0
tensorflow
xgboost
scikit-learn
imblearn
optuna
nltk
pandas
numpy
requests
matplotlib
joblib
lightgbm
redis
seaborn
plotly
scipy
networkx
geopy
pycountry